version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: daylanbueno/pessoa-api
    container_name: pessoa-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./target:/app